@charset "utf-8";
/* CSS Document */
/*清除默认样式*/
h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dt,dd,a,i,em,b,strong,img,input,body{ margin:0; padding:0;}
li{ list-style:none;}
a{ text-decoration:none; color:#333;}
i,em{ font-style:normal;}
b,strong{ font-weight:normal;}
input{ border:none; background:none; outline:none;}
textarea{ outline:none; resize:none;}
img,input,select{ vertical-align:top;}
/*清除默认样式*/

/*公用部分*/
.clearFix:after{ content:''; clear:both; display:block;}
.clearFix{ zoom:1;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.wrap{ width:1180px; margin:0 auto;}
body{ font-size:12px; padding-bottom:500px;}

/*公用部分*/









